.auth__login {
  padding: 15rem 12rem;
  background: linear-gradient(to right bottom, rgba($pink-light, .65), rgba($pink-dark, .75));
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 100vh;
  position: relative;

  @include respond(tab-port) {
    padding: 0;
  }

  @include respond(phone) {
    padding: 15rem 1rem;
  }

  &-leaf1 {
    position: absolute;
    top: 6rem;
    left: 2rem;
    width: 30rem;
    height: auto;

    @include respond(phone) {
      display: none;
    }
  }

  &-leaf2 {
    position: absolute;
    bottom: 6rem;
    right: 0;
    width: 30rem;
    height: auto;

    @include respond(phone) {
      display: none;
    }
  }
}

.login {

  &__bg-image {
    background-image: linear-gradient(to right bottom,
     rgba($purple-light, .45),
     rgba($purple-dark, .75)),
    url('/img/home/login-bg.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 4rem 6rem;

    &-head {
      margin-bottom: 4rem;

      h4 {
        @include customFont($font-pop, $color-secondary, 600);
        font-size: 2.5rem;
        text-align: center;
      }
    }
  }

  &__btn {
    border-radius: 3rem;
    border: 1px solid $purple-dark;
    background: $purple-dark;
    color: $color-white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem 4.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    display: block;
    margin: 2rem auto;


    &:active {
      transform: scale(0.95);
      background: linear-gradient(to right, rgba($purple-dark, .85), rgba($purple-light, .85));
    }

    &:focus {
      outline: none;
    }
  }

  &__small {
    @include customFont($font-rob, $color-secondary, 500);
    font-size: 1.3rem;
    letter-spacing: 1px;
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}

.form-check-input {
  margin-left: -1.25rem !important;
}

.form-check-label {
  @include customFont($font-rob, $color-secondary, 500);
  font-size: 1.4rem !important;
  margin-left: 1rem !important;
}
