.forgetpass {


  &__bg-image {
    background-image: linear-gradient(to right bottom,
     rgba($color-secondary, .35),
     rgba($color-brown-dark, .55)),
    url('/img/home/forget-bg.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  &__btn {
    border-radius: 3rem;
    border: 1px solid $color-secondary;
    background: $color-secondary;
    color: $color-white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.2rem 4.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    display: block;
    margin: 2rem auto;


    &:active {
      transform: scale(0.95);
      background: linear-gradient(to right, rgba($color-brown-dark, .55), rgba($color-secondary, .35));
    }

    &:focus {
      outline: none;
    }
  }
}


.resetReq {
  padding: 17rem 0;
}

.resetpass {
  &__bg-image {
    background-image: linear-gradient(to right bottom,
     rgba($color-secondary, .35),
     rgba($color-brown-dark, .55)),
    url('/img/home/resetpass-bg.jpg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
}
