.btno {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none !important;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //style for button inside form
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 1rem rgba($color-black, .2);
        color: $color-white !important;

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    &:hover a {
        color: $color-white !important;
      }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: #777;

        &::after {
           background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
           background-color: $color-primary !important;
        }
    }

    &--brown {
        background-color: $color-secondary;
        color: $color-white;

        &::after {
           background-color: $color-primary !important;
        }
    }

    &--danger {
        background-color: orangered;
        color: $color-white;

        &::after {
           background-color: orangered !important;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        font-size: 1.6rem;
    }


    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.bttn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        margin-top: 1rem;
        display: inline-block;
        border-radius: 10rem;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;

        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        //style for button inside form
        border: 4px solid rgba($pink-light, .8);
        cursor: pointer;
    }

    &--primary {
      background-color: $color-white;
      color: $color-secondary;
      transition: all .5s ease;


    &:hover {
      background-image: linear-gradient(to right bottom, $pink-light, $pink-dark);
      color: $color-white;
      border-color: rgba($pink-light, 0);
    }
    }
}


.btn-text {


    &:link,
    &:visited {
        @include customFont($font-oswald, $color-primary, 500);
        font-size: $default-font-size;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white !important;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-text2 {
  &:link,
  &:visited {
      @include customFont($font-oswald, $color-secondary, 500);
      font-size: 2.5rem;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: .5rem;
      transition: all .2s;
      outline: none !important;
      border-radius: 3px;
  }

  &:hover {
      background-color: $color-primary;
      color: $color-white !important;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
      outline: none !important;
  }
}


.btn-textbtn {

      border: none;
      outline: none;
      background: none;

      @include customFont($font-oswald, $color-secondary, 500);
      font-size: 2.5rem;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: .5rem;
      transition: all .2s;
      outline: none !important;
      border-radius: 3px;


  &:hover {
      background-color: $color-primary;
      color: $color-white !important;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
      outline: none !important;
  }
}
