.pcard {
  border-radius: 1rem;
  overflow: hidden;
  margin: 4rem auto auto;
  text-align: center;
  position: relative;
  background-color: $color-white;
  transition: all 0.4s cubic-bezier(.68,-0.55,.27,1.55);

  @include respond(phone) {
    box-shadow: 0 0 2rem 0 rgba($color-black, 0.25);
  }

  &:hover {
    box-shadow: 0 0 2rem 0 rgba($color-black, 0.25);
  }

  &:hover &-icons {
    opacity: 1;
    visibility: visible;
    // transform: translateX(-20%);
    transform: translateY(3.5rem);
    -webkit-transform: translateY(3.5rem);

  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
    // transform: translateX(-20%);
    transform: translateY(0);


  }

  &-content {
    background-color: $color-ash;
    height: 33.3rem;
    position: relative;

    @include respond(phone) {
      // display: table;
      height: 37rem;
    }

  }

  &__img {
    width: 80%;
    height: 64%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;

    @include respond(tab-port) {
      width: 75%;
      height: auto;
    }
  }

  &-icons {
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 60%;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 20;
    // transform: translateX(-50%);
    transform: translateY(-6.5rem);
    // -webkit-transform: translateY(-60%);
    transition: all 0.6s cubic-bezier(.68,-0.55,.27,1.55);

    // & > a:first-child {
    //   border-radius: 2rem 0 0 2rem;
    // }

    @include respond(phone) {
      display: table-cell;
      opacity: 1;
      visibility: visible;
      transform: translateY(-.3rem);
      vertical-align: middle;
      width: 8rem;
      left: -31.5rem;
      height: 50%;
      // left: -2rem;
      // width: 100%;

    }
    & > button {
      border: none;
      outline: none;
      border-radius: 2rem 0 0 2rem;
      background-color: $color-white;
      color: #dedede;
      font-size: 2rem;
      height: 4.5rem;
      line-height: 4.5rem;
      width: 6rem;

      @include respond(phone) {
        display: table;
        width: 100%;
        height: 48.3333333%;
        border-radius: none;
        vertical-align: middle;
        font-size: 2.5rem;
        line-height: 7.5rem;
        background-color: #92d2a7;
        color: $color-white;
        margin-bottom: .5rem;
        border-radius: 0;
        // width: 100%;

      }

      &:hover {
        background-color: #92d2a7;
        color: $color-white;
      }

      &:active {
        outline: none;
      }

    }

    & > a:last-child {
      border-radius: 0 2rem 2rem 0;
      margin-left: 1rem;

      @include respond(phone) {
        margin: 0;
        border-radius: 0;
      }
    }

    & > a {
      background-color: $color-white;
      color: #dedede;
      font-size: 2rem;
      height: 4.5rem;
      line-height: 4.5rem;
      width: 6rem;
      text-decoration: none !important;

      @include respond(phone) {
        display: table;
        width: 100%;
        height: 48.3333333%;
        border-radius: none;
        vertical-align: middle;
        margin: 0;
        font-size: 2.5rem;
        line-height: 7.5rem;
        background-color: #92d2a7;
        color: $color-white !important;
      }

      &:hover {
        background-color: #92d2a7;
        color: $color-white;
      }
    }
  }


  &__shape {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  &-caption {
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 1.2rem;

    &__title {
      @include customFont($font-rob, $color-secondary, 600);
      font-size: 2rem;
      letter-spacing: .1rem;

      @include respond(tab-port) {
        font-size: 2.5rem;
      }
    }

    &__price {
      @include customFont($font-oswald, $color-orange, 600);
      font-size: 1.5rem;
      letter-spacing: .2rem;

      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
  }

  &::after {
    bottom: 0;
    content: "";
    display: block;
    height: .5rem;
    margin: auto;
    vertical-align: middle;
    width: 5rem;
    background-color: $color-orange;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-6.5rem);
    -webkit-transform: translateX(-6.5rem);
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;

    @include respond(tab-port) {
      opacity: 1;
      visibility: visible;
      width: 7rem;

      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  }

}
