.feature {

  &-options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 3rem;
  }

  &-btn {

    &__1 {
      &,
      &:link {
        backface-visibility: hidden;
          text-decoration: none;
          padding: 1rem 4rem;
          // margin-top: 2rem;
          display: inline-block;
          border-radius: 10rem;
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
          font-size: 1.6rem;
          border: 4px solid rgba($pink-dark, .8);
          cursor: pointer;
          color: $color-secondary !important;
          transition: all .3s ease-in-out;

          &:hover {
            border-color: rgba($color-orange, 0);
            background-color: rgba($color-orange, .9);
            box-shadow: .2rem .5rem 3rem rgba($color-black, .6);
            color: $color-white !important;

          }

        }
    }

    &__active {
      text-decoration: none !important;
      padding: 1rem 4rem;
      // margin-top: 2rem;
      display: inline-block;
      border-radius: 10rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 1.6rem;
      background-color: rgba($color-orange, .8);
      cursor: pointer;
      color: $color-white !important;
      box-shadow: .2rem .5rem 3rem rgba($color-black, .6);


    }
  }

  &-img {
    width: 30rem !important;
    height: 30rem !important;
    margin: 0 5rem;
    // margin-top: -7rem;
    // margin-left: 5rem;
    // margin-right: 6rem;

    img {
      max-width: 100% !important;
    }
  }
}
