.custom_notification {
  display: none;
  width: 80%;
  margin: 0.3rem auto;
}

.custom_notification ul li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.callout {
  padding: 10px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout__primary {
  border-left-color: blue;
  color: blue;
}

.callout__danger {
  border-left-color: orangered;
  color: orangered;
}

table .form-delete {
  display: inline-block !important;
}

table .form-delete button {
  outline: none !important;
  border: none !important;
  background: none;
}

.round-head {
  border: 1px solid #1cc88a;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  position: relative;
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.round-head::before {
  content: "";
  display: inline-block;
  width: 7rem;
  border: 1px solid #1cc88a;
  position: absolute;
  top: 50%;
  left: -32%;
}

.round-head::after {
  content: "";
  display: inline-block;
  width: 7rem;
  border: 1px solid #1cc88a;
  position: absolute;
  top: 50%;
  right: -32%;
}

.round-head:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 200, 138, 0.5)), to(rgba(16, 105, 72, 0.8)));
  background: linear-gradient(to right bottom, rgba(28, 200, 138, 0.5), rgba(16, 105, 72, 0.8));
  color: white;
  box-shadow: 0.3rem 0.8rem 2rem rgba(0, 0, 0, 0.2);
}

.round-head__small {
  border: 1px solid #1cc88a;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1rem;
  position: relative;
  padding: 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.round-head__small::before {
  content: "";
  display: inline-block;
  width: 7rem;
  border: 1px solid #1cc88a;
  position: absolute;
  top: 50%;
  left: -42%;
}

.round-head__small::after {
  content: "";
  display: inline-block;
  width: 7rem;
  border: 1px solid #1cc88a;
  position: absolute;
  top: 50%;
  right: -42%;
}

.round-head__small:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 200, 138, 0.5)), to(rgba(16, 105, 72, 0.8)));
  background: linear-gradient(to right bottom, rgba(28, 200, 138, 0.5), rgba(16, 105, 72, 0.8));
  color: white;
  box-shadow: 0.3rem 0.8rem 2rem rgba(0, 0, 0, 0.2);
}

