.custom_notification {
  display: none;
  width: 80%;
  margin: 0.3rem auto;
}

.custom_notification ul li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.callout {
  padding: 10px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout__primary {
  border-left-color: blue;
  color: blue;
}

.callout__danger {
  border-left-color: orangered;
  color: orangered;
}

table .form-delete {
  display: inline-block !important;
}

table .form-delete button {
  outline: none !important;
  border: none !important;
  background: none;
}

.round-head {
  border-bottom: 1px solid #1cc88a;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 0.5rem 0.8rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.round-head:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 200, 138, 0.5)), to(rgba(16, 105, 72, 0.8)));
  background: linear-gradient(to right bottom, rgba(28, 200, 138, 0.5), rgba(16, 105, 72, 0.8));
  color: white;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.8rem 2rem rgba(0, 0, 0, 0.2);
}

.round-head__small {
  border-bottom: 1px solid #1cc88a;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  padding: 0.5rem 0.8rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.round-head__small:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 200, 138, 0.5)), to(rgba(16, 105, 72, 0.8)));
  background: linear-gradient(to right bottom, rgba(28, 200, 138, 0.5), rgba(16, 105, 72, 0.8));
  color: white;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.8rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-custom__danger {
  display: block;
  padding: 0.8rem;
  color: orangered !important;
  border: 1.5px solid orangered !important;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.btn-custom__danger:hover {
  color: #fff !important;
  background-color: orangered !important;
  box-shadow: 0.3rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
}

