        //COLORS
$color-primary: #92D2A7;
$pink-dark: #79D1D6;
$pink-light: #D8D8D7;
$color-ash: #F7F6F2;


$color-orange: #7FBA00;
$color-secondary: #525252;
$color-white: #fff;

$color-black: #000;

//fonts
$font-paci: 'Pacifico', cursive;
$font-abril: 'Abril Fatface', cursive;
$font-oswald: 'Oswald', sans-serif;
$font-pop: 'Poppins', sans-serif;
$font-rob: 'Roboto', sans-serif;
$font-lob: 'Lobster', cursive;

$default-font-size: 1.6rem;
