.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-white, .5);
  z-index: 100;
  transition: background-color .5s ease;

  @include respond(tab-port) {
    background-color: $color-white;
  }

  &__scrolled {
    background-color: #fff;
     box-shadow: 0 .3rem 2rem rgba(0, 0, 0, 0.2);
  }
}
