.landing {

}

.slider {

  &__page {

    .pcard {
      // width: 100%;
      // margin: auto;
    }
    // padding-bottom: 2rem;
    &-1 {
      position: relative;

      img {
        width: 100% !important;
        height: 100vh !important;
      }

    }

    &-2 {
      position: relative;
      img {
        width: 100% !important;
        height: 100vh !important;
    }

    }

    &-3 {
      img {
        width: 100% !important;
        height: 100vh !important;
      }
    }
  }

  &__textbox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 300;
    text-align: center;
    backface-visibility: hidden;
  }
}
