.custom_notification {
  display: none;
  width: 80%;
  margin: .3rem auto;

  ul {
    li {
      list-style: none;
    }
  }
}

.pointer {
  cursor: pointer;
}

.callout {
  padding: 10px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;


  &__primary {
    border-left-color: blue;
    color: blue;
  }

  &__danger {
    border-left-color: orangered;
    color: orangered;
  }
}

table {

  .form-delete {
    display: inline-block !important;

    button {
      outline: none !important;
      border: none !important;
      background: none;
    }
  }
}

.round-head {
  border: 1px solid #1cc88a;
    width: max-content;
    border-radius: 1rem;
    position: relative;
    padding: 0 .5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: all ease-in-out .3s;

    &::before {
      content: "";
      display: inline-block;
      width: 7rem;
      border: 1px solid #1cc88a;
      position: absolute;
      top: 50%;
      left: -32%;

    }

    &::after {
      content: "";
      display: inline-block;
      width: 7rem;
      border: 1px solid #1cc88a;
      position: absolute;
      top: 50%;
      right: -32%;
    }

    &:hover {
      background: linear-gradient(to right bottom, rgba(28, 200, 138, .5), rgba(16, 105, 72, .8));
      color: white;
      box-shadow: .3rem .8rem 2rem rgba(0,0,0, .2);
    }
}


.round-head__small {
  border: 1px solid #1cc88a;
    width: max-content;
    border-radius: 1rem;
    position: relative;
    padding: 0 .5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: all ease-in-out .3s;

    &::before {
      content: "";
      display: inline-block;
      width: 7rem;
      border: 1px solid #1cc88a;
      position: absolute;
      top: 50%;
      left: -42%;

    }

    &::after {
      content: "";
      display: inline-block;
      width: 7rem;
      border: 1px solid #1cc88a;
      position: absolute;
      top: 50%;
      right: -42%;
    }

    &:hover {
      background: linear-gradient(to right bottom, rgba(28, 200, 138, .5), rgba(16, 105, 72, .8));
      color: white;
      box-shadow: .3rem .8rem 2rem rgba(0,0,0, .2);
    }
}
