.custom_notification {
  display: none;
  width: 80%;
  margin: .3rem auto;

  ul {
    li {
      list-style: none;
    }
  }
}

.pointer {
  cursor: pointer;
}

.callout {
  padding: 10px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;


  &__primary {
    border-left-color: blue;
    color: blue;
  }

  &__danger {
    border-left-color: orangered;
    color: orangered;
  }
}

table {

  .form-delete {
    display: inline-block !important;

    button {
      outline: none !important;
      border: none !important;
      background: none;
    }
  }
}
